{
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "extends": "eslint:recommended",
    "globals": {
        "process": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "modules": true,
            "arrowFunctions": true,
            "blockBindings": true,
            "classes": true,
            "defaultParams": true,
            "destructuring": true,
            "forOf": true,
            "objectLiteralComputedProperties": true,
            "objectLiteralDuplicateProperties": true,
            "objectLiteralShorthandMethods": true,
            "objectLiteralShorthandProperties": true,
            "templateStrings": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "settings": {
        "react": {
            "version": "15.4.2"
        }
    },
    "rules": {
        "arrow-body-style": [1, "as-needed"],
        "arrow-spacing": 2,
        "block-spacing": [2, "always"],
        "camelcase": [1, {"properties": "never"}],
        "comma-dangle": [1, "always-multiline"],
        "eqeqeq": [2, "always"],
        "guard-for-in": 1,
        "indent": [2, 4, {"SwitchCase": 0}],
        "jsx-quotes": 0,
        "keyword-spacing": [2, {"before": true, "after": true, "overrides": {}}],
        "max-len": [2, 120, 4],
        "no-console": [1, { allow: ["warn", "error"] }],
        "no-cond-assign": [2, "always"],
        "no-dupe-args": 1,
        "no-dupe-keys": 1,
        "no-duplicate-case": 1,
        "no-duplicate-imports": 1,
        "no-empty": 1,
        "no-eq-null": 1,
        "no-eval": 1,
        "no-inner-declarations": [2, "functions"],
        "no-irregular-whitespace": 1,
        "no-mixed-spaces-and-tabs": 1,
        "no-multi-spaces": 1,
        "no-new": 0,
        "no-spaced-func": 2,
        "no-sparse-arrays": 1,
        "no-trailing-spaces": 2,
        "no-undef": 2,
        "no-underscore-dangle": 0,
        "no-unneeded-ternary": 1,
        "no-unreachable": 1,
        "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
        "object-curly-spacing": [2, "always"],
        "one-var": [2, "never"],
        "operator-linebreak": [2, "after"],
        "quote-props": [2, "as-needed", {"keywords": true}],
        "quotes": [2, "single"],
        "react/display-name": 0,
        "react/forbid-component-props": 1,
        "react/forbid-prop-types": 0,
        "react/jsx-boolean-value": 1,
        "react/jsx-closing-bracket-location": 1,
        "react/jsx-curly-spacing": 1,
        "react/jsx-handler-names": 1,
        "react/jsx-indent-props": 1,
        "react/jsx-key": 1,
        "react/jsx-max-props-per-line": 0,
        "react/jsx-no-bind": [1, {"allowArrowFunctions": true}],
        "react/jsx-no-duplicate-props": 1,
        "react/jsx-no-is-mounted": 0,
        "react/jsx-no-literals": 1,
        "react/jsx-no-undef": 1,
        "react/jsx-pascal-case": 1,
        "react/jsx-sort-prop-types": 0,
        "react/jsx-sort-props": 0,
        "react/jsx-uses-react": 1,
        "react/jsx-uses-vars": 1,
        "react/no-danger": 0,
        "react/no-deprecated": 1,
        "react/no-did-mount-set-state": 1,
        "react/no-did-update-set-state": 1,
        "react/no-direct-mutation-state": 1,
        "react/no-array-index-key": 2,
        "react/no-is-mounted": 2,
        "react/no-multi-comp": 1,
        "react/no-set-state": 0,
        "react/no-unknown-property": 1,
        "react/no-unused-prop-types": 1,
        "react/prefer-es6-class": 1,
        "react/prefer-stateless-function": 1,
        "react/prop-types": [1, {"ignore": ["children"]}],
        "react/react-in-jsx-scope": 1,
        "react/self-closing-comp": 1,
        "react/sort-comp": 0,
        "react/jsx-wrap-multilines": 1,
        "semi-spacing": [2, {"before": false, "after": true}],
        "semi": [1, "never"],
        "space-before-function-paren": [1, {"anonymous": "never", "named": "never"}],
        "space-infix-ops": 2,
        "space-unary-ops": [1, { "words": true, "nonwords": false }],
        "spaced-comment": [2, "always"],
        "strict": [2, "global"],
        "use-isnan": 2,
        "valid-typeof": 2,
    }
}
