.container {
  padding: 0;
  width: 1400px;
  margin: 0 auto;
}

.typeLine {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.typeLine > * {
  padding: 10px;
  flex: 0 0 25px;
}

.type {
  flex: 0 0 100px;
  font-weight: bold;
  width: 100px;
}
