.showtimes-container {
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.showtimes-typeLine {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.showtimes-typeLine > * {
  padding: 10px 0;
  flex: 0 0 25px;
}

.showtimes-type {
  flex: 0 0 50px;
  font-weight: bold;
  width: 50px;
}
