.header {
  display: flex;
  background: #4fc3f7;
  justify-content: center;
  padding: 10px;
  position: relative;
}

.header-item-menu {
  display: none;
}

.header-menu {
  color: #fff;
  cursor: pointer;

  &:hover{
      color: #0092c4;
  }
}

.header-item {
  color: #fff;
  text-transform: uppercase;
  margin-right: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;

  &:hover{
      background-color: #0092c4;
  }
}

.header-item-main {
  margin-right: 5px;
  border: 1px solid #8bf6ff;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
}

.submenu {
    display: none;
}

@media screen and (max-width: 720px) {
  .header-item {
    display: none;
  }

  .header-item-menu {
    display: block;
    position: absolute;
    left: 10px;
  }

  .submenu-isOpened {
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    background: #4fc3f7;
    top: 62px;
    left: 0px;
    z-index: 2;
  }

  .submenu-item {
    color: #fff;
    text-transform: uppercase;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.5s ease;

    &:hover{
      background-color: #0092c4;
    }
  }

}

