body {
  padding: 2em;

  &.inTransition {
    transition: transform 900ms ease;
  }
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 800px 640px;
  max-width: 1440px;
  margin: 0 auto;
}

.container > * {
  padding: 10px;
}

.movieTitle {
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  font-weight: 700;
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
}

.trailer {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: left;

  dd {
    padding: 10px;
    font-weight: bold;
  }
}

.showtimes {
  grid-column: 1 / span 2;
  grid-row: 3 / 4;
  font-size: 18px;
  height: 100%;
  justify-self: center;
}

.description {
  grid-column: 1 / span 2;
  grid-row: 4 / 5;
  font-size: 18px;
  text-align: left;
  height: 100%;
}

@media screen and (max-width: 1440px) {
    .container {
      text-align: center;
      display: grid;
      grid-template-columns: auto;
    }

    .trailer {
      grid-column: 1 / span 2;
      grid-row: 2 / 3;
    }

    .main {
      grid-column: 1 / span 2;
      grid-row: 5 / 6;
      justify-self: center;
    }

    .showtimes {
      grid-column: 1 / span 2;
      grid-row: 3 / 4;
      font-size: 18px;
      height: 100%;
    }

    .description {
      grid-column: 1 / span 2;
      grid-row: 4 / 5;
      font-size: 18px;
      height: 100%;
    }
}

.image {
  display: block;
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.scrollTop {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease,
              background-color 0.5s ease;
  position: fixed;
  bottom: 0;
  background: #ffff00;

  &-isVisible {
    opacity: 1;
  }

  &:hover{
      background: #fff;
  }
}

.footer {
  background: #0092c4;
  height: 28px;
  padding: 10px;
  text-align: center;
}
