body {
  padding: 2em;

  &.inTransition {
    transition: transform 900ms ease;
  }
}

.container {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  width: 1400px;
  margin: 0 auto;
}

.container > * {
  padding: 10px;
  flex: 1 1 100%;
}

.movieTitle {
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.footer {
  background: #0092c4;
  height: 28px;
  padding: 10px;
  text-align: center;
}

.trailer {
  flex: 3 1 0px;
}

.main {
  flex: 2 1 0px;
  text-align: left;

  dd {
    padding: 10px;
    font-weight: bold;
  }
}

.description {
  font-size: 18px;
  flex: 1 3 0px;
  height: 100%;
}

.image {
  max-width: 1400px;
  width: auto;
  height: auto;
}

.scrollTop {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease,
              background-color 0.5s ease;
  position: fixed;
  bottom: 0;
  background: #ffff00;

  &-isVisible {
    opacity: 1;
  }

  &:hover{
      background: #fff;
  }
}
