.wrapper {
  padding: 0.5em;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-gap: 0.5em;
}

.title {
  grid-row: 1;
  text-align: center;
}

.hall {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}

.total {
  grid-column: 2;
  grid-row: 2;
}

.row {
  padding: 0.15em;
  margin: 0.15em;
}

.sit {
  border-radius: 2px;
  padding: 0.25em;
  border: 1px solid black;
  margin: 0.15em;
  width: 20px;
  height: 24px;
  line-height: 24px;
  cursor: pointer;

  &.checked {
    background-color: #1aa3e0;
    color: #fff;
  }

  &.disabled {
    background-color: #4F4F4F;
    cursor: text;
    color: #fff;
  }
}

.totalRow {
  background: #f5f5f5;
  margin: 5px 0 0 0;
  padding: 0.25em 0.5em;
}

.number {
  font-size: 28px;
  line-height: 35px;
  padding: 0 0.15em 0 0;
}

.sum {
  margin: 0.25em 0.5em;
}

.remove {
  cursor: pointer;
}


