.wrapper {
  padding: 0.5em;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 50px auto;
  grid-gap: 0.5em;
}

.title {
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-weight: 700;
  grid-row: 1;
  grid-column: 1 / 2;
  text-align: center;
}

.hall {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  align-self: start;
}

.hall-screen {
  border: 0;
  border-top: 2px solid black;
}

.hall-exitLabel {
  font-weight: bold;
  text-align: right;
  color: #4fc2f7
}

.hall-exit {
  border: 0;
  border-top: 2px solid #4fc2f7;
  margin-top: 15px;
}

.row {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.sit {
  font-weight: bold;
  color: #fff;
  border-radius: 2px;
  padding: 5px;
  border: 1px solid #4fc2f7;
  margin: 5px 5px 0 0;
  width: 15px;
  height: 25px;
  line-height: 24px;
  cursor: pointer;
  transition: background-color 0.5s ease;

  &:hover{
      background-color: #0092c4;
  }

  &-isChecked {
    background-color: #4fc2f7;
  }

  &-isDisabled {
    background-color: #e1e2e1;
    cursor: text;
    color: #000;

    &:hover {
        background-color: #e1e2e1;
    }
  }
}

.total {
  grid-column: 2;
  grid-row: 1 / span 2;

  p {
    font-size: 18px;
    font-weight: bold;
    padding: 0 5px 0 0;
  }

  sub {
    align-self: flex-end;
    padding: 5px 5px 5px 0;
  }
}

.total-header {
  font-size: 24px;
  font-weight: bold;

  a:link {
    color: #4fc3f7;
    text-decoration: underline;
  }

  a:visited {
    color: #4fc3f7;
    text-decoration: none;
  }

  a:hover {
    color: #0092c4;
    text-decoration: underline;
  }

  a:active {
    color: #4fc3f7;
    text-decoration: none;
  }
}

.total-date {
  font-weight: bold;
}

.total-type {
  line-height: 32px;
  padding: 0 6px;
  border: 1px solid #4fc2f7;
  margin: 8px 8px 0 0;
  color: #959595;
  width: 90px;
  text-align: center;
  span {
      color: #000
  }
}

.total-row {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  margin: 5px 0 0 0;
  padding: 10px 15px;
  transition: opacity 500ms ease, height 500ms ease;
  width: 285px;
  height: 35px;
  opacity: 1;

  &-inTransition {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    width: 315px;
  }
}

.total-number {
  flex: 0 1 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  padding: 0 5px 0 0;

  &-isHighlighted {
    color: #4fc2f7;
  }
}

.total-sum {
  margin: 0.25em 0.5em;
}

.total-remove {
  cursor: pointer;
  flex: 0 1 30px;
  padding: 5px 5px 5px 30px;
  transition: color 0.5s ease;

  &:hover{
      color: #4fc2f7;
  }
}
